<div class="home-page-wrapper">
  <app-header></app-header>
  <app-breadcrum [content]="'Center'"></app-breadcrum>
  <div class="home-page-body">
    <mat-grid-list cols="10" rowHeight="6:5" [gutterSize]="'0.6em'">
      <mat-grid-tile [colspan]="1" [rowspan]="4" class="center-title"
        ><div>Printing center</div></mat-grid-tile
      >
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2"
        class="list-item"
        routerLink="/inventory"
        ><div class="container">
          <div class="img-container app app-bg-1">
            <img
              class="center-img"
              src="../../../assets/images/Library.png"
              alt=""
            />
          </div>
          <div class="title-container">Library</div>
        </div></mat-grid-tile
      >
      <mat-grid-tile [colspan]="2" [rowspan]="2"
        ><div class="container">
          <div class="img-container app app-bg-2">
            <img
              class="center-img"
              src="../../../assets/images/History.png"
              alt=""
            />
          </div>
          <div class="title-container">Print history</div>
        </div></mat-grid-tile
      >
      <mat-grid-tile [colspan]="5" [rowspan]="4">
        <div class="services-container">
          <div class="service-item">
            <div class="icons-group">
              <div class="item">
                <img
                  src="../../../assets/images/service-logo/query-to-3d.png"
                  alt=""
                />
                <div class="name">Query to 3D</div>
              </div>
              <div class="item">
                <img
                  src="../../../assets/images/service-logo/reconstruction.png"
                  alt=""
                />
                <div class="name">2D to 3D</div>
              </div>
              <div class="item">
                <img
                  src="../../../assets/images/service-logo/face-reconstruction.png"
                  alt=""
                />
                <div class="name">Face Reconstruction</div>
              </div>
            </div>
            <div class="icon-title">Apps</div>
          </div>
          <div class="service-item">
            <div class="icons-group">
              <div class="item">
                <img
                  src="../../../assets/images/service-logo/printer-setting.png"
                  alt=""
                />
                <div class="name">Printer settings</div>
              </div>
              <div class="item">
                <img
                  src="../../../assets/images/service-logo/materials.png"
                  alt=""
                />
                <div class="name">Materials</div>
              </div>
              <div class="item">
                <img
                  src="../../../assets/images/service-logo/slicer-settings.png"
                  alt=""
                />
                <div class="name">Slicer settings</div>
              </div>
            </div>
            <div class="icon-title">Printing Profiles</div>
          </div>
          <div class="service-item">
            <div class="icons-group">
              <div class="item">
                <img
                  src="../../../assets/images/service-logo/community.png"
                  alt=""
                />
                <div class="name">Community</div>
              </div>
              <div class="item">
                <img
                  src="../../../assets/images/service-logo/learning.png"
                  alt=""
                />
                <div class="name">Learning</div>
              </div>
            </div>
            <div class="icon-title">Help center</div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2"
        ><div class="container">
          <div class="img-container app app-bg-3">
            <img
              class="center-img"
              src="../../../assets/images/Farm.png"
              alt=""
            />
          </div>
          <div class="title-container">Printer Farm</div>
        </div></mat-grid-tile
      >
      <mat-grid-tile [colspan]="2" [rowspan]="2"
        ><div class="container">
          <div class="img-container app app-bg-4">
            <img
              class="center-img"
              src="../../../assets/images/Gocode.png"
              alt=""
            />
          </div>
          <div class="title-container">Gcode Viewer</div>
        </div></mat-grid-tile
      >
    </mat-grid-list>
  </div>
  <app-footer></app-footer>
</div>
