.style-node {
    background-color: #faebd7;
    width: 14em;
    border-radius: 8px;
}

mat-tree-node:active {
    background-color: antiquewhite;
    width: 14em;
    border-radius: 8px;
}

.inventory-page-body {
    padding: 1.5rem 0;
    font-family: 'Poppins', sans-serif;

}

.project-list-wrapper,
.project-content-wrapper {
    width: 100%;
    height: 100%;

    .title {
        text-align: center;
        font-family: 'Poppins';
        font-weight: bolder;
        color: black;
        font-size: 1.25rem;
        height: 2rem;

    }

}

.upload-wrapper {
    img {
        margin-left: 1em;
    }

    div {
        margin-left: 7em;
    }
}



.project-list,
.project-content-wrapper {
    margin: 1rem 0;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #ffffff00;
}

.mat-tree,
.mat-mdc-table {
    background-color: #55555500;
    box-shadow: none;
}

th {
    border: none;
    background-color: rgb(246, 246, 246) !important;
}

.data-content {
    font-size: 13px;
    font-family: 'Poppins';
    line-height: 20px;
}

.mat-mdc-row:hover {
    border-color: #88888800
}

//custom scroll
/* width */
::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px !important;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px !important;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.project-item {
    display: flex;
    margin: 0.6em 0;



    div {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        margin-left: 0.7em;
        color: black;
    }


}

mat-tree-node {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 0.7em;
    color: black;
}

.folder-icon {
    margin-right: 1em;
}

.project-item:hover {

    background-color: #8888881b;

}

.folder-item,
.file-item {
    width: 100%;
    display: block;

    div {
        display: flex;
        width: 100%;

        .name {

            white-space: nowrap;
            // width: 3.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }

        // .tooltip {
        //     position: relative;
        // }

        // .tooltip .tooltiptext {
        //     visibility: hidden;
        //     width: 120px;
        //     background-color: black;
        //     color: #fff;
        //     text-align: center;
        //     border-radius: 6px;
        //     padding: 5px 0;

        //     /* Position the tooltip */
        //     position: absolute;
        //     z-index: 100;

        // }

        // .tooltip:hover .tooltiptext {
        //     visibility: visible;
        // }
    }
}

mat-grid-tile.table {
    width: 100%;
    display: flex;
    height: max-content;

    table {
        background-color: #888;

    }

}

th {
    position: sticky;
    top: 0;
}

.upload-item {

    div {
        width: 100%;
        display: flex;

        .name {
            margin-left: 2em;
            display: flex;
            font-weight: bold;
            color: black;
            font-family: 'Poppins';
            font-style: normal;
            flex-direction: column;

            .sub {
                font-weight: 400;
            }
        }
    }
}

.upload-button {
    border: #555 2px solid;
    padding: 0.4em;
    border-radius: 0.4em;
}



.progress-bar {
    margin: 0 auto;
    width: 30%;


}


//tables
.demo-table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}