.container {
    margin: 0 28px;
}

.header-wrapper {
    box-sizing: border-box;
    height: 70px;
    // margin: 0px 28px;
    width: 100%;
    // max-width: 1480px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.left-side-wrapper {
    display: flex;
}

.app-name-wrapper {
    width: 161px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #1D3667;
}

.not-authen-wrapper {
    display: flex;

    .button {
        margin: 0 0.5em;
    }
}

.btn {
    width: 7rem;
    height: 2.4rem;
    border-radius: 50rem;
    font-weight: bold;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.07rem;
}

.btn:hover {
    background-color: rgb(200, 199, 199);
}

.btn-primary {
    background-color: black;
    color: white;
}

.btn-primary:hover {
    background-color: black;
}

.info {
    h3 {
        height: 100%;
        display: flex;
        align-items: center;
    }

}