.inventory-page-body {
    height: 70vh;
    width: 100%;
    margin: 2em 0;
}

mat-grid-tile {}

.canvas-container {
    border: 1.5px solid #a3a1a19b;
    border-radius: 8px;
    position: relative;
}

.custom-printer-container {
    border: 1.5px solid #a3a1a19b;
    border-radius: 8px;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.change-gcode-mode {
    position: absolute;
    z-index: 2;
    top: 1em;
    right: 1em;
}