html,
body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 2000px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: rgba(246, 246, 246, 0.4);

}

// typo
.body2 {
    //typo
    font-family: 'Poppins', sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}

button {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.white-bg {
    background-color: white;
}

.input {
    height: 38px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    margin: 10px 0;
}

input:focus {
    outline: none;
}

.mat-simple-snackbar {
    font-size: 1.2em;
    color: white;
}

.snackbar-error {
    background-color: red;
}

.snackbar-success {
    background-color: rgb(106, 224, 106);
}

.snackbar-info {
    background-color: rgb(99, 99, 241);
}